In [14]:
import pandas as pd
from sklearn import preprocessing,model_selection,neighbors
import numpy as np
import matplotlib.pyplot as plt

In [15]:
df = pd.read_csv('D:\\anubhav\\Codes\\Titanic_train.csv')

In [16]:
df.drop(['PassengerId','Name','Ticket','Cabin'],1,inplace=True)

In [17]:
df['Age'].fillna(df['Age'].mean(),inplace=True)

In [18]:
df['Embarked'].fillna('S',inplace=True)

In [19]:
df['Sex']=df['Sex'].replace({"male":100.0,
	"female":-100.0})

In [20]:
df['Embarked']=df['Embarked'].replace({"S":100.0,
	"C":200.0,
	"Q":300.0})

In [21]:
print(df.head())

   Survived  Pclass    Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3  100.0  22.0      1      0   7.2500     100.0
1         1       1 -100.0  38.0      1      0  71.2833     200.0
2         1       3 -100.0  26.0      0      0   7.9250     100.0
3         1       1 -100.0  35.0      1      0  53.1000     100.0
4         0       3  100.0  35.0      0      0   8.0500     100.0

In [22]:
X_train=np.array(df.drop(['Survived'],1))
y_train=np.array(df[['Survived']])
print(df.head())

   Survived  Pclass    Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3  100.0  22.0      1      0   7.2500     100.0
1         1       1 -100.0  38.0      1      0  71.2833     200.0
2         1       3 -100.0  26.0      0      0   7.9250     100.0
3         1       1 -100.0  35.0      1      0  53.1000     100.0
4         0       3  100.0  35.0      0      0   8.0500     100.0

In [23]:
X_train = (X_train - X_train.mean(axis = 0))/X_train.std(axis = 0)
X_test = (X_test - X_train.mean(axis = 0))/X_train.std(axis = 0)
print(len(X_train))
X_train_set,X_test_set,y_train_set,y_test_set=model_selection.train_test_split(X_train,y_train,test_size=0.2)

891

   Survived  Pclass    Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3  100.0  22.0      1      0   7.2500     100.0
1         1       1 -100.0  38.0      1      0  71.2833     200.0
2         1       3 -100.0  26.0      0      0   7.9250     100.0
3         1       1 -100.0  35.0      1      0  53.1000     100.0
4         0       3  100.0  35.0      0      0   8.0500     100.0

   Survived  Pclass    Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3  100.0  22.0      1      0   7.2500     100.0
1         1       1 -100.0  38.0      1      0  71.2833     200.0
2         1       3 -100.0  26.0      0      0   7.9250     100.0
3         1       1 -100.0  35.0      1      0  53.1000     100.0
4         0       3  100.0  35.0      0      0   8.0500     100.0

891

In [11]:
print(X_train[:10])

[[ 0.82737724  0.73769513 -0.5924806   0.43279337 -0.47367361 -0.50244517
  -0.56883712]
 [-1.56610693 -1.35557354  0.63878901  0.43279337 -0.47367361  0.78684529
   1.00518113]
 [ 0.82737724 -1.35557354 -0.2846632  -0.4745452  -0.47367361 -0.48885426
  -0.56883712]
 [-1.56610693 -1.35557354  0.40792596  0.43279337 -0.47367361  0.42073024
  -0.56883712]
 [ 0.82737724  0.73769513  0.40792596 -0.4745452  -0.47367361 -0.48633742
  -0.56883712]
 [ 0.82737724  0.73769513  0.         -0.4745452  -0.47367361 -0.47811643
   2.57919938]
 [-1.56610693  0.73769513  1.87005862 -0.4745452  -0.47367361  0.39581356
  -0.56883712]
 [ 0.82737724  0.73769513 -2.13156761  2.24747049  0.76762988 -0.22408312
  -0.56883712]
 [ 0.82737724 -1.35557354 -0.20770885 -0.4745452   2.00893337 -0.42425614
  -0.56883712]
 [-0.36936484 -1.35557354 -1.20811541  0.43279337 -0.47367361 -0.0429555
   1.00518113]]

In [12]:
print(len(X_test))

418